
.container {
  display: flex;
  background-color: lightgray;
  padding: 10px; 
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  column-gap: 10px;
   
}

.box {
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  font-size: 18px;
  width: 200px;
  
}