
.container {
  display: flex;
  flex-direction: column; 
  background-color: lightgray;
  padding: 10px;   
  height: 500px;
}

.box {
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  margin:10px; 
  font-size: 18px;
  width: 200px;
  flex: 1 1 auto; 
}

.box:nth-child(2) {
  flex-shrink: 2;
}